#cluster-map {
    width: 100%;
    height: 500px;
}

#map {
    width: 100%;
    height: 300px;
}

.campground-map {
    width: 100%;
    /* full width of the column */
    height: 400px;
    /* adjust height as you like */
    border-radius: 10px;
    /* rounded corners */
    margin-bottom: 30px;
    /* space below the map */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    /* optional shadow */
}